---
layout: default
---
<header id="home-header"  style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div id="tag-page" class="container">
    <h1>{{ page.tag | prepend:"#"}}</h1>
    <div id="tag-cloud">
      {{ site | tag_cloud }}
    </div>
  </div>
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% for post in page.posts %}
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date_to_string }}
          </span>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>
</article>
